<h1>Watch it. The coach can be tempramental.</h1>

<div>
  <p>* Your question</p>
  <%= @question %>
</div>

<div>
  <p>* Coach's answer</p> <%= @coach_answer %>
</div>

<div>
  <%= link_to "Try asking again...", ask_path %>
</div>
